Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

fix: ghost goals in autoparam tactic block (#6408)
  src/Lean/Elab/App.lean
  src/Lean/Elab/StructInst.lean
  src/Lean/Syntax.lean
  tests/lean/interactive/ghostGoals.lean
  tests/lean/interactive/ghostGoals.lean.expected.out
Owners: none

chore: in `#print` for structures, mention 'field notation' (#6406)
  src/Lean/Elab/Print.lean
  tests/lean/diamond1.lean.expected.out
  tests/lean/diamond8.lean.expected.out
  tests/lean/printStructure.lean
  tests/lean/run/print_cmd.lean
Owners: none

feat: reserved names for congruence theorems (#6412)
  src/Lean/Meta/CongrTheorems.lean
  tests/lean/run/congrReserved.lean
Owners: none

refactor: lake: merge `BuildJob` into `Job` (#6388)
  src/lake/Lake/Build/Basic.lean
  src/lake/Lake/Build/Common.lean
  src/lake/Lake/Build/Executable.lean
  src/lake/Lake/Build/Facets.lean
  src/lake/Lake/Build/Imports.lean
  src/lake/Lake/Build/Index.lean
  src/lake/Lake/Build/Info.lean
  src/lake/Lake/Build/Job.lean
  src/lake/Lake/Build/Library.lean
  src/lake/Lake/Build/Module.lean
  src/lake/Lake/Build/Package.lean
  src/lake/Lake/Build/Run.lean
  src/lake/Lake/Build/Targets.lean
  src/lake/Lake/CLI/Build.lean
  src/lake/Lake/Config/ExternLibConfig.lean
  src/lake/Lake/Config/FacetConfig.lean
  src/lake/Lake/Config/LeanExeConfig.lean
  src/lake/Lake/Config/LeanLib.lean
  src/lake/Lake/Config/LeanLibConfig.lean
  src/lake/Lake/Config/Module.lean
  src/lake/Lake/Config/Opaque.lean
  src/lake/Lake/Config/TargetConfig.lean
  src/lake/Lake/DSL/Targets.lean
  src/lake/Lake/Util/Opaque.lean
  src/lake/Lake/Util/OpaqueType.lean
  src/lake/README.md
  src/lake/examples/targets/lakefile.lean
  src/lake/tests/logLevel/lakefile.lean
Owners: @tydeu

fix: `sharecommon` bug (#6415)
  src/runtime/sharecommon.cpp
  tests/lean/run/sharecommon.lean
Owners: none

feat: lemmas about lexicographic order on Array and Vector (#6399)
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/Array/Lex.lean
  src/Init/Data/Array/Lex/Basic.lean
  src/Init/Data/Array/Lex/Lemmas.lean
  src/Init/Data/Array/Monadic.lean
  src/Init/Data/List.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/Lex.lean
  src/Init/Data/List/Monadic.lean
  src/Init/Data/List/Range.lean
  src/Init/Data/List/ToArray.lean
  src/Init/Data/Option/Monadic.lean
  src/Init/Data/Range/Basic.lean
  src/Init/Data/Range/Lemmas.lean
  src/Init/Data/String/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Data/Vector/Lemmas.lean
  src/Init/Data/Vector/Lex.lean
  src/Init/PropLemmas.lean
Owners: @kim-em, @digama0

fix: process delayed assignment metavariables correctly in `Lean.Meta.Closure` (#6414)
  src/Lean/Meta/Closure.lean
  tests/lean/run/6354.lean
Owners: none

fix: multiple bugs in `grind` (#6419)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

chore: fix some docstrings (#6410)
  src/Init/Core.lean
Owners: none

feat: `grind` preprocessing and `Expr` internalization (#6413)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  src/Lean/Meta/Tactic/Grind/Util.lean
  src/Lean/Meta/Transform.lean
  tests/lean/run/foldProjs.lean
Owners: @leodemoura

fix: lake: `afterBuildCache*` traces (#6422)
  src/lake/Lake/Build/Package.lean
Owners: @tydeu

chore: protect Nat.div_eq_iff (#6417)
  src/Init/Data/Nat/Div/Lemmas.lean
Owners: @kim-em

feat: lake: local package overrides (#6411)
  src/lake/Lake/CLI/Help.lean
  src/lake/Lake/CLI/Main.lean
  src/lake/Lake/Config/Workspace.lean
  src/lake/Lake/Load/Config.lean
  src/lake/Lake/Load/Manifest.lean
  src/lake/Lake/Load/Resolve.lean
  src/lake/Lake/Load/Workspace.lean
  src/lake/Lake/Util/Version.lean
  src/lake/tests/packageOverrides/bar1/bar.lean
  src/lake/tests/packageOverrides/bar1/lakefile.toml
  src/lake/tests/packageOverrides/bar2/bar.lean
  src/lake/tests/packageOverrides/bar2/lakefile.toml
  src/lake/tests/packageOverrides/clean.sh
  src/lake/tests/packageOverrides/foo/foo.lean
  src/lake/tests/packageOverrides/foo/lakefile.toml
  src/lake/tests/packageOverrides/lakefile.lean
  src/lake/tests/packageOverrides/packages.json
  src/lake/tests/packageOverrides/test.sh
Owners: @tydeu

fix: normalize universe levels in `grind` preprocessor (#6428)
  src/Lean/Meta/Basic.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  src/Lean/Meta/Tactic/Grind/Util.lean
  tests/lean/run/grindNormLevelIssue.lean
Owners: @leodemoura

feat: add support for extern LCNF decls (#6429)
  src/Lean/Compiler/ExternAttr.lean
  src/Lean/Compiler/LCNF/Basic.lean
  src/Lean/Compiler/LCNF/Bind.lean
  src/Lean/Compiler/LCNF/CSE.lean
  src/Lean/Compiler/LCNF/Check.lean
  src/Lean/Compiler/LCNF/CompilerM.lean
  src/Lean/Compiler/LCNF/DeclHash.lean
  src/Lean/Compiler/LCNF/ElimDead.lean
  src/Lean/Compiler/LCNF/ElimDeadBranches.lean
  src/Lean/Compiler/LCNF/FixedParams.lean
  src/Lean/Compiler/LCNF/FloatLetIn.lean
  src/Lean/Compiler/LCNF/Internalize.lean
  src/Lean/Compiler/LCNF/JoinPoints.lean
  src/Lean/Compiler/LCNF/LambdaLifting.lean
  src/Lean/Compiler/LCNF/Level.lean
  src/Lean/Compiler/LCNF/Main.lean
  src/Lean/Compiler/LCNF/PrettyPrinter.lean
  src/Lean/Compiler/LCNF/Probing.lean
  src/Lean/Compiler/LCNF/PullFunDecls.lean
  src/Lean/Compiler/LCNF/PullLetDecls.lean
  src/Lean/Compiler/LCNF/ReduceArity.lean
  src/Lean/Compiler/LCNF/ReduceJpArity.lean
  src/Lean/Compiler/LCNF/Renaming.lean
  src/Lean/Compiler/LCNF/Simp.lean
  src/Lean/Compiler/LCNF/Simp/InlineCandidate.lean
  src/Lean/Compiler/LCNF/Simp/InlineProj.lean
  src/Lean/Compiler/LCNF/Specialize.lean
  src/Lean/Compiler/LCNF/Testing.lean
  src/Lean/Compiler/LCNF/ToDecl.lean
  src/Lean/Compiler/LCNF/ToExpr.lean
  src/Lean/Compiler/LCNF/ToMono.lean
  tests/lean/run/opaqueNewCodeGen.lean
Owners: @leodemoura

chore: temporarily disable Web Assembly build in CI (#6424)
  .github/workflows/ci.yml
Owners: @kim-em

feat: add `Expr.fvarsSubset` (#6430)
  src/Lean/Util.lean
  src/Lean/Util/CollectFVars.lean
  src/Lean/Util/FVarSubset.lean
  src/Lean/Util/FindExpr.lean
  src/Lean/Util/ForEachExpr.lean
  tests/lean/run/fvarSubset.lean
Owners: none

fix: ensure `simp` and `dsimp` do not unfold too much (#6397)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lex.lean
  src/Init/Data/List/Zip.lean
  src/Lean/Meta/Tactic/Simp/Main.lean
  src/Lean/Meta/WHNF.lean
  tests/lean/run/1024.lean
  tests/lean/run/5755.lean
  tests/lean/run/946.lean
  tests/lean/run/ac_expr.lean
  tests/lean/run/concatElim.lean
Owners: @digama0, @kim-em, @leodemoura

feat: lemmas about List/Array/Vector lexicographic order (#6423)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/Array/Lex/Lemmas.lean
  src/Init/Data/List/Lex.lean
  src/Init/Data/String/Lemmas.lean
  src/Init/Data/Vector/Lemmas.lean
  src/Init/Data/Vector/Lex.lean
Owners: @digama0, @kim-em

feat: explanations for `cases` applied to non-inductive types (#6378)
  src/Lean/Elab/Tactic/Induction.lean
  tests/lean/run/casesTactic.lean
Owners: @kim-em

chore: protect some lemmas in List/Array/Vector namespace (#6425)
  src/Init/Data/Array/Lex/Lemmas.lean
  src/Init/Data/List/Lex.lean
  src/Init/Data/Vector/Lex.lean
Owners: @kim-em

fix: `checkParents` in `grind` (#6442)
  src/Lean/Meta/Tactic/Grind/Inv.lean
  tests/lean/run/grind_propagate_connectives.lean
Owners: @leodemoura

feat: propagate equality in `grind` (#6443)
  src/Init/Grind/Lemmas.lean
  src/Init/Grind/Norm.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_propagate_connectives.lean
Owners: @leodemoura

test: `grind` (#6440)
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_canon_insts.lean
  tests/lean/run/grind_canon_types.lean
  tests/lean/run/grind_many_eqs.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_norm_levels.lean
Owners: @leodemoura

feat: support for builtin `grind` propagators (#6448)
  src/Init/Grind.lean
  src/Init/Grind/Propagator.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

refactor: move simplifier support to `GrindM` (#6447)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

feat: detect congruent terms in `grind` (#6437)
  src/Lean/Expr.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_congr.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: canonicalizer for the `grind` tactic (#6433)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grindCanonInsts.lean
  tests/lean/run/grindCanonTypes.lean
Owners: @leodemoura

feat: congruence table for `grind` tactic (#6435)
  src/Init/Grind/Util.lean
  src/Lean/Meta/ExprDefEq.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/MarkNestedProofs.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_congr.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: truth value propagation for `grind` (#6441)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_propagate_connectives.lean
Owners: @leodemoura

perf: improve bv_decide performance with large literals (#6453)
  src/Lean/Elab/Tactic/BVDecide/Frontend/BVDecide/Reflect.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/BVDecide/ReifiedBVLogical.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/BVDecide/ReifiedLemmas.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/BVDecide/Reify.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize.lean
  src/Std/Tactic/BVDecide/Bitblast/BVExpr/Basic.lean
  src/Std/Tactic/BVDecide/Bitblast/BoolExpr/Basic.lean
  src/Std/Tactic/BVDecide/Bitblast/BoolExpr/Circuit.lean
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
  src/Std/Tactic/BVDecide/Normalize/Bool.lean
  src/Std/Tactic/BVDecide/Normalize/Prop.lean
  src/Std/Tactic/BVDecide/Reflect.lean
  tests/lean/run/6043.lean
  tests/lean/run/bv_decide_rewriter.lean
  tests/lean/run/bv_substructure.lean
Owners: @hargoniX

feat: equality proof generation for `grind` (#6452)
  src/Lean/Meta/AppBuilder.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_congr.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_propagate_connectives.lean
Owners: @leodemoura

feat: support for builtin `grind` propagators (part 2) (#6449)
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

chore: check whether pointer equality implies structural equality in `grind` (#6451)
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
Owners: @leodemoura

fix: bug in `mkEqProof` within `grind` (#6455)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_nested_proofs.lean
Owners: @leodemoura

fix: missing `Not` propagation rule in `grind` (#6461)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: use compact congruence proofs in `grind` if applicable (#6458)
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_congr1.lean
Owners: @leodemoura

chore: implement reduceCond for bv_decide (#6460)
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize.lean
Owners: @hargoniX

feat: congruence proofs for `grind` (#6457)
  src/Init/Grind/Util.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  tests/lean/run/grind_congr1.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: add `grind` tactic (#6459)
  src/Init/Grind.lean
  src/Init/Grind/Tactics.lean
  src/Lean/Elab/Tactic.lean
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  tests/lean/run/grind_congr1.lean
  tests/lean/run/grind_pre.lean
Owners: @kim-em, @leodemoura

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX
