Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX

chore: display E-matching theorems in `goalToMessageData` (#6635)
  src/Lean/Meta/Tactic/Grind/PP.lean
Owners: @leodemoura

chore: update release checklist (#6637)
  script/push_repo_release_tag.py
  script/release_checklist.py
Owners: none

chore: remove functions for compiling decls from Environment (#6600)
  src/Lean/AddDecl.lean
  src/Lean/Compiler/InitAttr.lean
  src/Lean/Compiler/Old.lean
  src/Lean/CoreM.lean
  src/Lean/ParserCompiler.lean
  tests/lean/run/toExpr.lean
Owners: @leodemoura

feat: implement basic async IO with timers (#6505)
  src/Std/Internal.lean
  src/Std/Internal/Async.lean
  src/Std/Internal/Async/Basic.lean
  src/Std/Internal/Async/Timer.lean
  src/Std/Internal/UV.lean
  src/runtime/CMakeLists.txt
  src/runtime/init_module.cpp
  src/runtime/libuv.cpp
  src/runtime/libuv.h
  src/runtime/object.h
  src/runtime/uv/event_loop.cpp
  src/runtime/uv/event_loop.h
  src/runtime/uv/timer.cpp
  src/runtime/uv/timer.h
  tests/lean/run/async_sleep.lean
  tests/lean/run/async_surface_sleep.lean
Owners: @TwoFX

feat: faster, linear HashMap.alter and modify (#6573)
  src/Std/Data/DHashMap/Basic.lean
  src/Std/Data/DHashMap/Internal/AssocList/Basic.lean
  src/Std/Data/DHashMap/Internal/AssocList/Lemmas.lean
  src/Std/Data/DHashMap/Internal/Defs.lean
  src/Std/Data/DHashMap/Internal/List/Associative.lean
  src/Std/Data/DHashMap/Internal/Model.lean
  src/Std/Data/DHashMap/Internal/WF.lean
  src/Std/Data/DHashMap/Raw.lean
  src/Std/Data/HashMap/Basic.lean
Owners: @TwoFX

chore: fix docstring in `Bitvec.toNat_add_of_lt` (#6638)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

fix: lake: v4.16.0-rc1 trace issues (#6627)
  src/lake/Lake/Build/Job.lean
Owners: @tydeu

feat: improve `grind` failure message (#6633)
  src/Init/Grind.lean
  src/Init/Grind/PP.lean
  src/Init/Grind/Util.lean
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_erase_attr.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_t1.lean
Owners: @kim-em, @leodemoura

feat: UIntX.toBitVec lemmas (#6625)
  src/Init/Data/UInt/Bitwise.lean
Owners: @kim-em

fix: Windows stage0 linking (#6622)
  .github/workflows/ci.yml
  CMakeLists.txt
  flake.nix
  nix/bootstrap.nix
  src/CMakeLists.txt
  src/cmake/Modules/FindLibUV.cmake
  stage0/src/CMakeLists.txt
  stage0/src/cmake/Modules/FindLibUV.cmake
Owners: @kim-em

fix: lake: set `MACOSX_DEPLOYMENT_TARGET` for shared libs (#6631)
  src/lake/Lake/Build/Actions.lean
Owners: @tydeu

feat: `lean --src-deps` (#6427)
  src/Lean/Elab/Import.lean
  src/Lean/Util/Path.lean
  src/util/shell.cpp
Owners: none

feat: model construction for offset constraints (#6636)
  src/Lean/Meta/Tactic/Grind/Arith/Model.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: align `List/Array/Vector` `flatten` lemmas (#6640)
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/Bootstrap.lean
  src/Init/Data/Array/Find.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/ToArray.lean
  src/Init/Data/Option/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Data/Vector/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/Arith/Offset.lean
  tests/lean/guessLexFailures.lean
Owners: @kim-em, @digama0, @leodemoura

fix: indicate dependency on pkgconf in ubuntu docs (#6646)
  doc/make/ubuntu.md
Owners: none

fix: indicate dependency on pkgconf in macOS docs (#6643)
  doc/make/osx-10.9.md
Owners: none

chore: fib_correct monadic reasoning example as a test (#6647)
  tests/lean/run/fib_correct.lean
Owners: none

perf: improve bv_decide preprocessing based on Bitwuzla optimisations (#6641)
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/AndFlatten.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Basic.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/EmbeddedConstraint.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Rewrite.lean
  tests/lean/run/bv_decide_bool.lean
Owners: @hargoniX

feat: add the int_toBitVec simpset
  src/Lean/Elab/Tactic/BVDecide/Frontend/Attr.lean
Owners: @hargoniX

refactor: bv_normalize simp set and implementation (#6639)
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/AC.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/AndFlatten.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Basic.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/EmbeddedConstraint.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Rewrite.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Simproc.lean
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
  src/Std/Tactic/BVDecide/Normalize/Bool.lean
  src/Std/Tactic/BVDecide/Normalize/Canonicalize.lean
  src/Std/Tactic/BVDecide/Normalize/Equal.lean
  tests/lean/run/bv_decide_rewriter.lean
Owners: @hargoniX

fix: `grind` canonicalizer state management (#6649)
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Intro.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

chore: remove duplicate branch in LCNF.toMonoType (#6644)
  src/Lean/Compiler/LCNF/MonoTypes.lean
Owners: @leodemoura

feat: offset equalities in `grind` (#6645)
  src/Init/Grind/Offset.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Arith/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Arith/Model.lean
  src/Lean/Meta/Tactic/Grind/Arith/Offset.lean
  src/Lean/Meta/Tactic/Grind/Arith/ProofUtil.lean
  src/Lean/Meta/Tactic/Grind/Arith/Util.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_offset.lean
  tests/lean/run/grind_offset_cnstr.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: literals, lower and upper bounds in the offset constraint module within `grind` (#6648)
  src/Init/Grind/Offset.lean
  src/Lean/Meta/Tactic/Grind/Arith/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Arith/Model.lean
  src/Lean/Meta/Tactic/Grind/Arith/Offset.lean
  src/Lean/Meta/Tactic/Grind/Arith/Util.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_offset_cnstr.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: tag lemmas
  src/Init/Data/UInt/Bitwise.lean
  src/Init/Data/UInt/Lemmas.lean
  tests/lean/run/int_toBitVec.lean
Owners: @kim-em

feat: verify insertMany method for adding lists to HashMaps (#6211)
  src/Std/Data/DHashMap/Basic.lean
  src/Std/Data/DHashMap/Internal/List/Associative.lean
  src/Std/Data/DHashMap/Internal/Model.lean
  src/Std/Data/DHashMap/Internal/Raw.lean
  src/Std/Data/DHashMap/Internal/RawLemmas.lean
  src/Std/Data/DHashMap/Internal/WF.lean
  src/Std/Data/DHashMap/Lemmas.lean
  src/Std/Data/DHashMap/Raw.lean
  src/Std/Data/DHashMap/RawLemmas.lean
  src/Std/Data/HashMap/Basic.lean
  src/Std/Data/HashMap/Lemmas.lean
  src/Std/Data/HashMap/Raw.lean
  src/Std/Data/HashMap/RawLemmas.lean
  src/Std/Data/HashSet/Basic.lean
  src/Std/Data/HashSet/Lemmas.lean
  src/Std/Data/HashSet/Raw.lean
  src/Std/Data/HashSet/RawLemmas.lean
Owners: @TwoFX

feat: more grind tests (#6650)
  tests/lean/run/grind_assoc.lean
  tests/lean/run/grind_list.lean
Owners: none

feat: Vector.getElem_flatMap (#6661)
  src/Init/Data/Nat/Lemmas.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @kim-em

refactor: lake: use `StateRefT` for `BuildStore` (#6290)
  src/lake/Lake/Build/Fetch.lean
  src/lake/Lake/Util/StoreInsts.lean
Owners: @tydeu

feat: align List/Array/Vector.flatMap (#6660)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Basic.lean
  src/Init/Data/List/Impl.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @digama0, @kim-em

feat: add `Nat.[shiftLeft_or_distrib`, shiftLeft_xor_distrib`, shiftLeft_and_distrib`, `testBit_mul_two_pow`, `bitwise_mul_two_pow`, `shiftLeft_bitwise_distrib]` (#6630)
  src/Init/Data/Nat/Bitwise/Lemmas.lean
Owners: @kim-em

feat: canonicalizer diagnostics (#6662)
  src/Init/Grind/Tactics.lean
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_cat2.lean
Owners: @leodemoura

feat: align List.replicate/Array.mkArray/Vector.mkVector lemmas (#6667)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @digama0, @kim-em

fix: `grind` term preprocessor (#6659)
  src/Lean/Meta/Tactic/Grind/Simp.lean
  tests/lean/run/grind_cat.lean
Owners: @leodemoura

feat: improve`grind` diagnostic information (#6656)
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Ctor.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_t1.lean
Owners: @kim-em, @leodemoura

feat: improve case-split heuristic used in `grind` (#6658)
  src/Lean/Meta/Tactic/Grind/Split.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_split_issue.lean
Owners: @leodemoura

fix: improve E-matching pattern selection heuristics (#6653)
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: better support for partial applications in the E-matching procedure (#6654)
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
Owners: @leodemoura

feat: improve `grind` search procedure (#6657)
  src/Init/Grind/Tactics.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/Solve.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

chore: simple order
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em
