Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

feat: add script for generating release notes (#6519)
  doc/dev/release_checklist.md
  script/release_notes.py
Owners: none

feat: `ite` and `dite` support in `grind` (#6513)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: improve `cases` tactic used in `grind` (#6516)
  src/Lean/Meta/Tactic/Cases.lean
  src/Lean/Meta/Tactic/Grind/Cases.lean
  src/Lean/Meta/Tactic/Grind/Intro.lean
  tests/lean/run/grind_cases_tac.lean
Owners: @leodemoura

perf: avoid unnecessary assert/intro pairs in `grind` (#6514)
  src/Lean/Meta/Tactic/Grind/Intro.lean
Owners: @leodemoura

chore: cleanup imports in Lean.Lsp (#6523)
  src/Lean/Data/Lsp.lean
  src/Lean/Data/Lsp/Basic.lean
  src/Lean/Data/Lsp/CancelParams.lean
Owners: @mhuisi

chore: cherry-pick release notes from releases/v4.15.0 and releases/v4.16.0 (#6520)
  RELEASES.md
  releases_drafts/list_lex.md
Owners: @kim-em

feat: add support for `match`-expressions to `grind` (#6521)
  src/Init/Grind/Norm.lean
  src/Init/Grind/Tactics.lean
  src/Init/Grind/Util.lean
  src/Lean/Meta/Tactic/Grind/DoNotSimp.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_match1.lean
Owners: @leodemoura

chore: upstream some List.Perm lemmas (#6524)
  src/Init/Data/List/Perm.lean
  src/Init/Data/List/Sort/Lemmas.lean
Owners: @kim-em

chore: import cleanup in Init (#6522)
  src/Lean/Data/Lsp/Utf16.lean
  src/Lean/Linter/MissingDocs.lean
  src/Lean/PrettyPrinter/Delaborator/Builtins.lean
  src/Lean/Server/Completion.lean
  src/Lean/Util/ShareCommon.lean
  src/Std/Sat/AIG/Basic.lean
  src/Std/Tactic/BVDecide/LRAT/Internal/Formula/Implementation.lean
  src/Std/Time/DateTime/Timestamp.lean
  src/Std/Time/Internal/Bounded.lean
Owners: @mhuisi, @kmill, @hargoniX, @TwoFX

fix: cond reflection bug in bv_decide (#6517)
  src/Std/Tactic/BVDecide/Reflect.lean
Owners: @hargoniX

feat: pattern normalization in the `grind` tactic (#6538)
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/SimpUtil.lean
  src/Lean/Meta/Tactic/Grind/Util.lean
  tests/lean/run/grind_ematch2.lean
Owners: @leodemoura

doc: fix broken code blocks in RELEASES.md (#6527)
  RELEASES.md
Owners: @kim-em

fix: nondeterministic failure in `grind` (#6530)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/MarkNestedProofs.lean
  src/Lean/Meta/Tactic/Grind/Util.lean
Owners: @leodemoura

feat: add support for `let`-declarations to `grind` (#6529)
  src/Init/Grind/Norm.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Intro.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

fix: `let_fun` support in `grind` (#6531)
  src/Lean/Meta/Tactic/Grind/Intro.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: `[grind_eq]` attribute for the `grind` tactic (#6539)
  src/Lean/Meta/Tactic/Grind/Ctor.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  tests/lean/run/grind_eq.lean
  tests/lean/run/grind_pattern1.lean
Owners: @leodemoura

fix: allow projections in E-matching patterns (#6534)
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  tests/lean/run/grind_pattern_proj.lean
Owners: @leodemoura

feat: add term offset support to the `grind` E-matching modulo (#6533)
  src/Init/Grind/Norm.lean
  src/Init/Grind/Util.lean
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  tests/lean/run/grind_offset.lean
Owners: @kim-em, @leodemoura

fix: E-matching thresholds in the `grind` tactic (#6536)
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_offset.lean
Owners: @leodemoura

fix: missing propagation in `grind` (#6528)
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  tests/lean/run/grind_propagate_connectives.lean
Owners: @leodemoura

chore: fix signature of perm_insertIdx (#6532)
  src/Init/Data/List/Perm.lean
Owners: @kim-em

feat: add support for erasing the `[grind]` attribute (#6566)
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  tests/lean/run/grind_erase_attr.lean
Owners: @leodemoura

fix: set absolute linker path (#6547)
  script/prepare-llvm-linux.sh
  script/prepare-llvm-macos.sh
  script/prepare-llvm-mingw.sh
Owners: none

fix: remove unused `-static-libgcc` MinGW linker arg (#6535)
  script/prepare-llvm-mingw.sh
Owners: none

fix: avoid new tokens `_=_` and `=_` (#6554)
  src/Init/Grind/Tactics.lean
  tests/lean/run/grind_ematch1.lean
Owners: none

feat: attribute `[grind]` (#6545)
  src/Init/Grind/Tactics.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  tests/lean/run/grind_ematch1.lean
  tests/lean/run/grind_eq.lean
  tests/lean/run/grind_pattern1.lean
Owners: @leodemoura

feat: Array lemma alignment; fold and map (#6546)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @digama0, @kim-em

feat: trace messages for working and closing goals in the `grind` tactic (#6567)
  src/Lean/Meta/Tactic/Grind/Cases.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Ctor.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/Proj.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  src/Lean/Util/Trace.lean
  tests/lean/run/grind_erase_attr.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_split.lean
Owners: @leodemoura

feat: basic case-split for `grind` (#6559)
  src/Init/Grind/Lemmas.lean
  src/Init/Grind/Tactics.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Combinators.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Intro.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_implies.lean
  tests/lean/run/grind_match1.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_split.lean
Owners: @leodemoura

feat: release checklist script (#6542)
  doc/dev/release_checklist.md
  script/release_checklist.py
  script/release_repos.yml
Owners: none

feat: propagate implication in the `grind` tactic (#6556)
  src/Init/Grind/Lemmas.lean
  src/Init/Grind/Norm.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
Owners: @leodemoura

feat: `grind` tests for basic category theory (#6543)
  tests/lean/run/grind_cat.lean
  tests/lean/run/grind_ematch1.lean
  tests/lean/run/grind_ematch2.lean
  tests/lean/run/grind_shelf.lean
Owners: none

chore: typos / improvements to grind messages (#6561)
  src/Init/Grind/Tactics.lean
  src/Init/Grind/Util.lean
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

doc: modify aesop usage example of `omegaDefault` (#6549)
  src/Lean/Elab/Tactic/Omega/Frontend.lean
Owners: @kim-em

perf: speed up JSON serialisation (#6479)
  src/Lean/Data/Json/Printer.lean
Owners: none

feat: add BitVec.[toNat|toInt|toFin|getLsbD|getMsbD|getElem|msb]_fill (#6177)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

feat: make `classical` tactic incremental (#6575)
  src/Lean/Elab/Tactic/Classical.lean
Owners: @kim-em

fix: proper "excess binders" error locations for `rintro` and `intro` (#6565)
  src/Init/Prelude.lean
  src/Lean/Elab/Tactic/BuiltinTactic.lean
  src/Lean/Elab/Tactic/RCases.lean
  tests/lean/interactive/5659.lean
  tests/lean/interactive/5659.lean.expected.out
  tests/lean/interactive/incrementalTactic.lean.expected.out
Owners: @kim-em, @digama0

feat: split on `match`-expressions in the `grind` tactic (#6569)
  src/Init/Grind/Util.lean
  src/Lean/Meta/Tactic/Cases.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/CasesMatch.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  tests/lean/run/grind_match1.lean
  tests/lean/run/grind_match2.lean
Owners: @leodemoura

fix: forall propagation in `grind` (#6578)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  tests/lean/run/grind_cat.lean
Owners: @leodemoura

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX
