Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX

chore: preserve reported messages in `MessageLog` (#6307)
  src/Lean/CoreM.lean
  src/Lean/Message.lean
  src/Lean/Util/SafeExponentiation.lean
Owners: none

refactor: WF.EqnInfo.hasInduct (#6357)
  src/Lean/Elab/PreDefinition/WF/Eqns.lean
  src/Lean/Elab/PreDefinition/WF/Main.lean
  src/Lean/Meta/Tactic/FunInd.lean
Owners: @leodemoura

refactor: elabWFRel to take names, not `PreDefinition` (#6358)
  src/Lean/Elab/PreDefinition/WF/Main.lean
  src/Lean/Elab/PreDefinition/WF/Rel.lean
Owners: none

feat: `Nat.shiftRight_bitwise_distrib` (#6334)
  src/Init/Data/Nat/Bitwise/Lemmas.lean
Owners: @kim-em

feat: do not propagate pretty printer errors through messages (#3696)
  src/Lean/Elab/GuardMsgs.lean
  src/Lean/Message.lean
  src/Lean/PrettyPrinter.lean
  src/Lean/Util/PPExt.lean
  src/Lean/Util/Trace.lean
  src/lake/Lake/Util/Message.lean
Owners: @digama0, @tydeu

chore: DecidableRel allows a heterogeneous relation (#6341)
  src/Init/Data/Nat/Dvd.lean
  src/Init/Data/Option/Basic.lean
  src/Init/Prelude.lean
  src/lake/Lake/Util/Log.lean
Owners: @kim-em, @tydeu

refactor: make `mkInhabitantFor` error message configurable (#6356)
  src/Lean/Elab/PreDefinition/Main.lean
  src/Lean/Elab/PreDefinition/MkInhabitant.lean
Owners: none

feat: alignment of Array.set lemmas with List lemmas (#6365)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/ToArray.lean
Owners: @digama0, @kim-em

refactor: ArgsPacker.unpack to return `Option` (#6359)
  src/Lean/Elab/PreDefinition/WF/Fix.lean
  src/Lean/Elab/PreDefinition/WF/GuessLex.lean
  src/Lean/Meta/ArgsPacker.lean
  src/Lean/Meta/Tactic/FunInd.lean
Owners: @leodemoura

feat: add `Float32` support (#6366)
  src/Init/Data/Float32.lean
  src/Init/Data/OfScientific.lean
  src/library/compiler/ir_interpreter.cpp
  src/runtime/object.h
  tests/lean/run/float32.lean
Owners: @kim-em

fix: when pretty printing constant names, do not use aliases from "non-API `export`s" (#5689)
  src/Lean/ResolveName.lean
  tests/lean/run/5689.lean
  tests/lean/run/DVec.lean
  tests/lean/run/alias.lean
Owners: none

feat: lemmas about indexing and membership for Vector (#6367)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @digama0, @kim-em

fix: unused `let_fun` elimination in `simp` (#6375)
  src/Lean/Meta/Tactic/Simp/Main.lean
  tests/lean/run/letFunUnusedVarBug.lean
Owners: @leodemoura

chore: run Batteries linter on Lean (#6364)
  src/Init/Control/Lawful/Basic.lean
  src/Init/Data/Array/Attach.lean
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/BasicAux.lean
  src/Init/Data/Array/Bootstrap.lean
  src/Init/Data/Array/DecidableEq.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Bool.lean
  src/Init/Data/Fin/Lemmas.lean
  src/Init/Data/List/Attach.lean
  src/Init/Data/List/Find.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/Nat/Modify.lean
  src/Init/Data/List/Sort/Impl.lean
  src/Init/Data/List/Sort/Lemmas.lean
  src/Init/Data/List/ToArray.lean
  src/Init/Data/Option/Attach.lean
  src/Init/Data/Sum/Lemmas.lean
  src/Init/GetElem.lean
  src/Init/SimpLemmas.lean
  src/Std/Data/DHashMap/Internal/RawLemmas.lean
  src/Std/Data/DHashMap/Lemmas.lean
  src/Std/Data/HashMap/Lemmas.lean
  src/Std/Data/HashSet/Lemmas.lean
  src/Std/Tactic/BVDecide/LRAT/Internal/Formula/Lemmas.lean
  src/Std/Tactic/BVDecide/LRAT/Internal/Formula/RupAddResult.lean
  tests/lean/run/array_simp.lean
Owners: @kim-em, @digama0, @TwoFX, @hargoniX

feat: labeled and unique sorries (#5757)
  src/Init/NotationExtra.lean
  src/Init/Prelude.lean
  src/Init/Tactics.lean
  src/Lean/Data/DeclarationRange.lean
  src/Lean/DeclarationRange.lean
  src/Lean/Elab/BuiltinNotation.lean
  src/Lean/Elab/Extra.lean
  src/Lean/Elab/InfoTree/Main.lean
  src/Lean/Elab/InfoTree/Types.lean
  src/Lean/Elab/MutualDef.lean
  src/Lean/Elab/PreDefinition/Basic.lean
  src/Lean/Elab/PreDefinition/Main.lean
  src/Lean/Elab/Tactic/Basic.lean
  src/Lean/Elab/Tactic/LibrarySearch.lean
  src/Lean/Elab/Term.lean
  src/Lean/Meta.lean
  src/Lean/Meta/AppBuilder.lean
  src/Lean/Meta/Check.lean
  src/Lean/Meta/Sorry.lean
  src/Lean/Meta/Tactic/Util.lean
  src/Lean/Parser/Term.lean
  src/Lean/PrettyPrinter/Delaborator/Basic.lean
  src/Lean/PrettyPrinter/Delaborator/Builtins.lean
  src/Lean/PrettyPrinter/Delaborator/Options.lean
  src/Lean/Server/FileWorker/RequestHandling.lean
  src/Lean/Server/FileWorker/WidgetRequests.lean
  src/Lean/Server/InfoUtils.lean
  src/Lean/Util/Sorry.lean
  src/Lean/Widget/InteractiveCode.lean
  src/lake/Lake/CLI/Translate.lean
  tests/lean/run/sorry.lean
  tests/lean/shadow.lean.expected.out
Owners: @kim-em, @leodemoura, @kmill, @mhuisi, @Vtec234, @tydeu

feat: `lean --error=kind` (#6362)
  src/Lean/Elab/Frontend.lean
  src/Lean/Language/Basic.lean
  src/util/shell.cpp
Owners: @Kha

feat: theorems about `==` on `Vector` (#6376)
  src/Init/Data/Array/Find.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/ToArray.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @kim-em, @digama0

fix: propagate `Simp.Config` when reducing terms and checking definitional equality in `simp` (#6123)
  src/Init/Data/Array/Basic.lean
  src/Init/Data/List/Impl.lean
  src/Lean/Data/RArray.lean
  src/Lean/Elab/PatternVar.lean
  src/Lean/Elab/Tactic/Simp.lean
  src/Lean/Elab/Term.lean
  src/Lean/Meta/Basic.lean
  src/Lean/Meta/ExprDefEq.lean
  src/Lean/Meta/InferType.lean
  src/Lean/Meta/Tactic/Simp/Main.lean
  src/Lean/Meta/Tactic/Simp/Rewrite.lean
  src/Lean/Meta/Tactic/Simp/Types.lean
  src/Lean/Meta/WHNF.lean
  src/Std/Sat/AIG/Basic.lean
  src/Std/Sat/AIG/CNF.lean
  src/Std/Sat/AIG/Relabel.lean
  src/Std/Tactic/BVDecide/LRAT/Internal/Formula/RatAddResult.lean
  src/Std/Tactic/BVDecide/LRAT/Internal/Formula/RupAddResult.lean
  src/Std/Time/Date/ValidDate.lean
  tests/lean/run/2670.lean
  tests/lean/run/5455.lean
  tests/lean/run/6123_cat_adjunction.lean
  tests/lean/run/6123_mod_cast.lean
  tests/lean/run/betaSimp.lean
  tests/lean/run/heapSort.lean
  tests/lean/run/simpConfigPropagationIssue1.lean
  tests/lean/run/simpConfigPropagationIssue3.lean
  tests/lean/run/splitIfIssue.lean
  tests/lean/run/zetaDeltaSet.lean
  tests/lean/run/zetaDeltaTryThisIssue.lean
Owners: @kim-em, @leodemoura, @hargoniX, @TwoFX

doc: fix typo reference in doc of lazy discrimination tree (#6377)
  src/Lean/Meta/LazyDiscrTree.lean
Owners: none

chore: stop running compiler twice during tests (#6321)
  tests/lean/run/CompilerCSE.lean
  tests/lean/run/CompilerFindJoinPoints.lean
  tests/lean/run/CompilerFloatLetIn.lean
  tests/lean/run/CompilerPullInstances.lean
  tests/lean/run/CompilerSimp.lean
Owners: none

chore: remove Lean.Compiler.LCNF.ForEachExpr (#6313)
  src/Lean/Compiler/LCNF.lean
  src/Lean/Compiler/LCNF/ForEachExpr.lean
  src/Lean/Compiler/LCNF/Probing.lean
Owners: @leodemoura

feat: lemmas about Vector.any/all/set (#6369)
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @kim-em, @digama0

chore: move implementation details of `mergeSort` into namespace (#6380)
  src/Init/Data/List/Sort/Basic.lean
  src/Init/Data/List/Sort/Lemmas.lean
Owners: @kim-em

feat: redefine Range.forIn' (#6390)
  src/Init/Data/Range.lean
  src/Lean/Meta/Tactic/LibrarySearch.lean
  tests/lean/getElem.lean
  tests/lean/run/structure_recursive.lean
Owners: @kim-em, @leodemoura

fix: `simp_all?` local declarations (#6385)
  src/Lean/Elab/Tactic/SimpTrace.lean
  tests/lean/run/3519.lean
Owners: @digama0

fix: `withTrackingZetaDelta` must reset cache (#6381)
  src/Lean/Meta/Basic.lean
  tests/lean/run/trackZetaDeltaCacheIssue.lean
Owners: none

fix: new code generator must generate code for opaque declarations that are not `@[extern]` (#6383)
  src/Lean/Compiler/LCNF/Main.lean
  src/Lean/Compiler/LCNF/ToDecl.lean
  src/Lean/Declaration.lean
  tests/lean/run/opaqueNewCodeGen.lean
Owners: @leodemoura

doc: split the docstring of `LocalContext` (#6340)
  src/Lean/LocalContext.lean
Owners: none

fix: type incorrect term produced by `contradiction` (#6387)
  src/Lean/Meta/Tactic/Contradiction.lean
  tests/lean/run/4851.lean
Owners: @leodemoura

feat: replace `List.lt` with `List.Lex` (#6379)
  doc/examples/ICERM2022/meta.lean
  releases_drafts/list_lex.md
  src/Init/Core.lean
  src/Init/Data/Array.lean
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/Array/Lex.lean
  src/Init/Data/Char/Lemmas.lean
  src/Init/Data/List/Basic.lean
  src/Init/Data/List/BasicAux.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/MinMax.lean
  src/Init/Data/List/ToArray.lean
  src/Init/Data/Nat/Basic.lean
  src/Init/Data/Ord.lean
  src/Init/Data/String/Basic.lean
  src/Init/Data/String/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Prelude.lean
  src/Lean/Compiler/LCNF/Probing.lean
  tests/lean/run/bubble.lean
  tests/lean/run/constructor_as_variable.lean
Owners: @kim-em, @digama0, @leodemoura

chore: require `0 < Range.step` (#6391)
  src/Init/Data/Range.lean
  src/Lean/Compiler/LCNF/Util.lean
  src/Lean/Meta/Match/MatcherInfo.lean
Owners: @kim-em, @leodemoura

fix: `revertAll` must clear auxiliary declarations (#6386)
  src/Lean/Meta/Tactic/Grind/RevertAll.lean
  tests/lean/run/6263.lean
Owners: @leodemoura

test: add test for issue #4585 (#6384)
  tests/lean/run/4585.lean
Owners: none

chore: add gitpod configuration (#6382)
  .gitpod.Dockerfile
  .gitpod.yml
Owners: none

feat: lemmas about Std.Range (#6396)
  src/Init/Data/Int/Basic.lean
  src/Init/Data/List/Notation.lean
  src/Init/Data/Nat.lean
  src/Init/Data/Nat/Bitwise/Basic.lean
  src/Init/Data/Nat/Div.lean
  src/Init/Data/Nat/Div/Basic.lean
  src/Init/Data/Nat/Div/Lemmas.lean
  src/Init/Data/Nat/Dvd.lean
  src/Init/Data/Nat/Lemmas.lean
  src/Init/Data/Range.lean
  src/Init/Data/Range/Basic.lean
  src/Init/Data/Range/Lemmas.lean
  tests/lean/run/nat_mod_defeq.lean
Owners: @kim-em

fix: add missing fields in the profiler datastructures (#6363)
  src/Lean/Util/Profiler.lean
Owners: none

fix: `check` must check projections (#6398)
  src/Lean/Meta/Check.lean
  src/Lean/Meta/InferType.lean
  tests/lean/run/5660.lean
Owners: none

feat: generalize `panic` to `Sort` (#6333)
  src/Init/Prelude.lean
  src/Init/Util.lean
Owners: none

chore: update documentation title and link README to reference (#6409)
  README.md
  doc/book.toml
Owners: none

feat: support erasure of Decidable.decide in new code generator (#6405)
  src/Lean/Compiler/LCNF/Probing.lean
  src/Lean/Compiler/LCNF/ToMono.lean
  tests/lean/run/Decidable-decide-erasure.lean
Owners: @leodemoura
