Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX

feat: add support for `cast`, `Eq.rec`, `Eq.ndrec` to `grind` (#6568)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: add `Int.emod_sub_emod` and `Int.sub_emod_emod` (#6507)
  src/Init/Data/Int/DivModLemmas.lean
Owners: @kim-em

feat: `BitVec.toInt_shiftLeft` theorem (#6346)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

fix: set LLVM sysroot consistently (#6574)
  script/prepare-llvm-linux.sh
  script/prepare-llvm-macos.sh
  script/prepare-llvm-mingw.sh
Owners: none

feat: let `induction` take zero alteratives (#6486)
  src/Init/Tactics.lean
  src/Lean/Elab/Tactic/Induction.lean
  tests/lean/inductionParse.lean.expected.out
Owners: @kim-em

feat: add `grind` configuration options to control case-splitting (#6581)
  src/Init/Grind/Tactics.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  tests/lean/run/grind_match2.lean
  tests/lean/run/grind_split.lean
Owners: @leodemoura

feat: align `List/Array` lemmas for `filter/filterMap` (#6589)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
Owners: @digama0

feat: apply E-matching for local lemmas in `grind` (#6582)
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: aligning `List/Array/Vector` lemmas for `map` (#6586)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/Vector/Basic.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @digama0, @kim-em

feat: add UInt32.{lt, le} (#6591)
  src/Init/Data/UInt/Basic.lean
Owners: @kim-em

fix: `grind` canonicalizer (#6585)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Canon.lean
  tests/lean/run/grind_canon_bug.lean
Owners: @leodemoura

feat: `Std.Net.Addr` (#6563)
  src/Std.lean
  src/Std/Net.lean
  src/Std/Net/Addr.lean
  src/runtime/CMakeLists.txt
  src/runtime/uv/net_addr.cpp
  src/runtime/uv/net_addr.h
  tests/lean/run/net_addr.lean
Owners: @TwoFX

feat: add helper theorems for handling offsets in `grind` (#6584)
  src/Init/Grind.lean
  src/Init/Grind/Offset.lean
Owners: none

feat: add `simp?` and `dsimp?` in conversion mode (#6593)
  src/Init/Conv.lean
  src/Lean/Elab/Tactic/Conv/Simp.lean
  tests/lean/run/6164.lean
Owners: @kim-em

feat: BitVec.{toInt, toFin, msb}_udiv (#6402)
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Nat/Div/Lemmas.lean
Owners: @kim-em

feat: add decidable instances for comparison operation of time offset types (#6587)
  src/Std/Time/Date/Unit/Month.lean
  src/Std/Time/Date/Unit/Week.lean
  src/Std/Time/Time/Unit/Hour.lean
  src/Std/Time/Time/Unit/Millisecond.lean
  src/Std/Time/Time/Unit/Minute.lean
  src/Std/Time/Time/Unit/Nanosecond.lean
  src/Std/Time/Time/Unit/Second.lean
Owners: @TwoFX

feat: improve `grind` canonicalizer diagnostics (#6588)
  src/Lean/Meta/Tactic/Grind/Canon.lean
  tests/lean/run/grind_cat2.lean
Owners: @leodemoura

feat: improve inequality offset support theorems for `grind` (#6595)
  src/Init/Grind/Offset.lean
  tests/lean/run/grind_offset_ineq_thms.lean
Owners: none

feat: `BitVec.{toFin, toInt, msb}_umod` (#6404)
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Nat/Div/Lemmas.lean
Owners: @kim-em

doc: update FFI description for Int and signed fixed-width ints (#6599)
  doc/dev/ffi.md
Owners: none

feat: `BitVec.toNat` theorems for `rotateLeft` and `rotateRight` (#6347)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

fix: allow dot idents to resolve to local names (#6602)
  src/Lean/Elab/App.lean
  src/Lean/Parser/Basic.lean
  src/Lean/Server/Requests.lean
  src/Std/Time/Date/Unit/Month.lean
  src/Std/Time/Date/Unit/Year.lean
  tests/lean/6601.lean
  tests/lean/6601.lean.expected.out
Owners: @mhuisi, @TwoFX

chore: add lean4-cli to release checklist (#6596)
  doc/dev/release_checklist.md
  script/release_repos.yml
Owners: none

feat: improve case split heuristic used in `grind` (#6613)
  src/Lean/Meta/Tactic/Grind/Split.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

fix: bug in the `grind` propagator (#6610)
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_propagate_connectives.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: improve case-split heuristic used in `grind` (#6609)
  src/Init/Grind/Tactics.lean
  src/Lean/Meta/Basic.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

fix: pattern selection for local lemmas (#6606)
  src/Init/Grind/Norm.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: improve `[grind =]` attribute (#6614)
  src/Init/Grind/Norm.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  tests/lean/run/grind_eq_pattern.lean
Owners: @leodemoura

fix: `checkParents` in `grind` (#6611)
  src/Lean/Meta/Tactic/Grind/Inv.lean
Owners: @leodemoura

feat: lemmas about Array.append (#6612)
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/ToArray.lean
Owners: @kim-em, @digama0

fix: `simp_arith` (#6608)
  src/Lean/Meta/Tactic/LinearArith/Nat/Simp.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: add support for splitting on `<->` to `grind` (#6607)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  tests/lean/run/grind_implies.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: exhaustive offset constraint propagation in the `grind` tactic (#6618)
  src/Init/Grind/Offset.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Arith/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Arith/Main.lean
  src/Lean/Meta/Tactic/Grind/Arith/Offset.lean
  src/Lean/Meta/Tactic/Grind/Arith/ProofUtil.lean
  src/Lean/Meta/Tactic/Grind/Arith/Types.lean
  src/Lean/Meta/Tactic/Grind/Arith/Util.lean
  tests/lean/run/grind_offset_cnstr.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

chore: cleaunp `grind` tests (#6616)
  tests/lean/run/grind_canon_insts.lean
  tests/lean/run/grind_canon_types.lean
  tests/lean/run/grind_congr.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_norm_levels.lean
  tests/lean/run/grind_propagate_connectives.lean
  tests/lean/run/grind_revertAll.lean
Owners: none

feat: finish alignment of `List/Array/Vector.append` lemmas (#6617)
  src/Init/Data/Array/Lemmas.lean
  src/Init/Data/List/Lemmas.lean
  src/Init/Data/List/Zip.lean
  src/Init/Data/Vector/Lemmas.lean
Owners: @digama0, @kim-em

feat: offset constraints support for the `grind` tactic (#6603)
  src/Init/Grind/Offset.lean
  src/Lean/Data/AssocList.lean
  src/Lean/Meta/AppBuilder.lean
  src/Lean/Meta/Tactic/FVarSubst.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Arith.lean
  src/Lean/Meta/Tactic/Grind/Arith/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Arith/Inv.lean
  src/Lean/Meta/Tactic/Grind/Arith/Main.lean
  src/Lean/Meta/Tactic/Grind/Arith/Offset.lean
  src/Lean/Meta/Tactic/Grind/Arith/ProofUtil.lean
  src/Lean/Meta/Tactic/Grind/Arith/Types.lean
  src/Lean/Meta/Tactic/Grind/Arith/Util.lean
  src/Lean/Meta/Tactic/Grind/ENodeKey.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_offset_cnstr.lean
  tests/lean/run/grind_offset_ineq_thms.lean
Owners: @leodemoura

fix: adjustments to the datetime library (#6431)
  src/Std/Time/DateTime/PlainDateTime.lean
  src/Std/Time/DateTime/Timestamp.lean
  src/Std/Time/Format.lean
  src/Std/Time/Format/Basic.lean
  src/Std/Time/Notation.lean
  src/Std/Time/Time/PlainTime.lean
  src/Std/Time/Time/Unit/Second.lean
  src/Std/Time/Zoned/Database/TZdb.lean
  src/Std/Time/Zoned/DateTime.lean
  src/Std/Time/Zoned/ZonedDateTime.lean
  tests/lean/run/timeAPI.lean
  tests/lean/run/timeFormats.lean
  tests/lean/run/timeSet.lean
Owners: @TwoFX

doc: commit conventions and Mathlib CI (#6605)
  doc/dev/commit_convention.md
  doc/dev/index.md
Owners: none

feat: avoid some redundant proof terms in `grind` (#6615)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/AppBuilder.lean
  src/Lean/Meta/Tactic/Grind/Arith/ProofUtil.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/Split.lean
  tests/lean/run/grind_offset_cnstr.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

fix: trace indentation in info view (#6597)
  src/Lean/Widget/InteractiveDiagnostic.lean
Owners: @Vtec234
