Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX

fix: fix: bug in `mkEqProof` within `grind` (#6456)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: missing data for `grind` e-match (#6469)
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

feat: constructors in `grind` (#6463)
  src/Init/Grind/Lemmas.lean
  src/Lean/Expr.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Ctor.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_congr1.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

fix: check function types when detecting congruences in `grind` (#6466)
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

feat: projections in `grind` (#6465)
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Proj.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  src/Lean/Meta/Tactic/Grind/PropagatorAttr.lean
  src/Lean/Meta/Tactic/Grind/Run.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: literal values in `grind` (#6464)
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/Ctor.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

fix: `Int.reduceNeg` simproc (#6468)
  src/Lean/Meta/Tactic/Simp/BuiltinSimprocs/Int.lean
  tests/lean/run/6467.lean
Owners: @leodemoura

feat: add `grind_pattern` command (#6470)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Parser.lean
Owners: @leodemoura

feat: upstream `ToExpr` deriving handler from Mathlib (#6473)
  src/Lean/Elab/Deriving.lean
  src/Lean/Elab/Deriving/ToExpr.lean
  src/Lean/ToExpr.lean
  tests/lean/run/derivingToExpr.lean
Owners: @kim-em

chore: reduce churn in tests/lean/run/meta5.lean (#6480)
  tests/lean/run/meta5.lean
Owners: none

fix: internalize nested ground patterns when activating ematch theorems (#6478)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  tests/lean/run/grind_pattern2.lean
Owners: @leodemoura

doc: explain `app_delab` (#6450)
  src/Lean/PrettyPrinter/Delaborator/Basic.lean
Owners: @kmill

chore: add missing diff-exposing in type/value mismatch errors (#6484)
  src/Lean/Elab/Calc.lean
  src/Lean/Elab/CheckTactic.lean
  src/Lean/Meta/Check.lean
Owners: none

feat: check pattern coverage in the `grind_pattern` command (#6474)
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/TheoremPatterns.lean
  tests/lean/run/grind_pattern1.lean
Owners: @kim-em, @leodemoura

feat: theorem patterns for heuristic instantiation in `grind` (#6472)
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/TheoremPatterns.lean
  tests/lean/run/grind_pattern1.lean
Owners: @kim-em, @leodemoura

chore: update stage0
  stage0/stdlib/Lean/Elab/Tactic/Grind.c
  stage0/stdlib/Lean/Meta/Tactic/Grind.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/TheoremPatterns.c
  stage0/stdlib/Lean/PrettyPrinter/Delaborator/Basic.c
Owners: none

feat: ematch theorem activation for `grind` (#6475)
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Run.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_pattern2.lean
Owners: @kim-em, @leodemoura

feat: E-matching procedure for the `grind` tactic (#6481)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Proj.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_congr1.lean
  tests/lean/run/grind_ematch1.lean
  tests/lean/run/grind_pattern1.lean
  tests/lean/run/grind_pattern2.lean
  tests/lean/run/grind_pre.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: instantiate ematch theorems in `grind` (#6485)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/EMatchTheorem.lean
  tests/lean/run/grind_ematch1.lean
Owners: @leodemoura

feat: add `PersistentHashSet.toList` (#6501)
  src/Lean/Data/PersistentHashSet.lean
Owners: none

feat: `grind` simple strategy (#6503)
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Intro.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Run.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_canon_types.lean
  tests/lean/run/grind_ematch1.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_pattern2.lean
  tests/lean/run/grind_pre.lean
Owners: @leodemoura

fix: make sure parent `structure` projections have 'go to definition' information (#6487)
  src/Lean/Elab/Structure.lean
Owners: none

fix: E-matching module for `grind` (#6488)
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

fix: theorem instantiation in `grind` (#6492)
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Run.lean
  src/Lean/Meta/Tactic/Grind/Simp.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_ematch1.lean
Owners: @leodemoura

fix: proof generation for `grind` tactic (#6502)
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_heq_proof_issue.lean
Owners: @leodemoura

fix: bug in `markNestedProofs` within `grind` (#6500)
  src/Lean/Meta/Tactic/Grind/MarkNestedProofs.lean
  tests/lean/run/grind_nested_proof_issue.lean
Owners: @leodemoura

feat: configuration options for the `grind` tactic (#6490)
  src/Init/Grind/Tactics.lean
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Preprocessor.lean
  src/Lean/Meta/Tactic/Grind/Run.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_ematch1.lean
Owners: @kim-em, @leodemoura

feat: dependent forall propagator in `grind` (#6498)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/ForallProp.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Run.lean
  tests/lean/run/grind_prop_arrow.lean
Owners: @leodemoura

fix: another bug in theorem instantiation in `grind` (#6497)
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
Owners: @leodemoura

fix: proof canonicalizer in `grind` (#6499)
  src/Lean/Meta/Tactic/Grind/Canon.lean
Owners: @leodemoura

feat: partial_fixpoint: monotonicity tactic (#6506)
  src/Init.lean
  src/Init/Internal/Order.lean
  src/Init/Internal/Order/Tactic.lean
  src/Lean/Elab/Tactic.lean
  src/Lean/Elab/Tactic/Monotonicity.lean
  tests/lean/run/partial_fixpoint_monotonicity.lean
Owners: @kim-em

fix: missing case in `checkParents` (#6508)
  src/Lean/Meta/Tactic/Grind/Inv.lean
  tests/lean/run/grind_ematch2.lean
Owners: @leodemoura

fix: ignore `no_index` around `OfNat.ofNat` in `norm_cast` (#6438)
  src/Lean/Elab/Tactic/NormCast.lean
Owners: @digama0

feat: partial_fixpoint: theory (#6477)
  src/Init/Internal.lean
  src/Init/Internal/Order.lean
  src/Init/Internal/Order/Basic.lean
Owners: none

chore: update stage0
  stage0/stdlib/Init.c
  stage0/stdlib/Init/Grind/Lemmas.c
  stage0/stdlib/Init/Grind/Tactics.c
  stage0/stdlib/Init/Internal.c
  stage0/stdlib/Init/Internal/Order.c
  stage0/stdlib/Init/Internal/Order/Basic.c
  stage0/stdlib/Init/Internal/Order/Tactic.c
  stage0/stdlib/Lean/Data/PersistentHashSet.c
  stage0/stdlib/Lean/Elab/Calc.c
  stage0/stdlib/Lean/Elab/CheckTactic.c
  stage0/stdlib/Lean/Elab/Deriving.c
  stage0/stdlib/Lean/Elab/Deriving/ToExpr.c
  stage0/stdlib/Lean/Elab/Structure.c
  stage0/stdlib/Lean/Elab/Tactic.c
  stage0/stdlib/Lean/Elab/Tactic/Grind.c
  stage0/stdlib/Lean/Elab/Tactic/Monotonicity.c
  stage0/stdlib/Lean/Elab/Tactic/NormCast.c
  stage0/stdlib/Lean/Meta/Check.c
  stage0/stdlib/Lean/Meta/Tactic/Grind.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Canon.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Core.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/EMatch.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/EMatchTheorem.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/ForallProp.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Internalize.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Intro.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Inv.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Main.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/MarkNestedProofs.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/PP.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Preprocessor.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Proj.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Proof.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Propagate.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Run.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Simp.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/TheoremPatterns.c
  stage0/stdlib/Lean/Meta/Tactic/Grind/Types.c
  stage0/stdlib/Lean/ToExpr.c
Owners: none

feat: custom congruence rule for equality in `grind` (#6510)
  src/Init/Grind/Lemmas.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Proof.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_diseq.lean
  tests/lean/run/grind_ematch2.lean
Owners: @leodemoura

fix: congruence closure in the `grind` tactic (#6509)
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Inv.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_ematch2.lean
  tests/lean/run/grind_nested_proofs.lean
Owners: @leodemoura

chore: add plausible to release checklist (#6525)
  doc/dev/release_checklist.md
Owners: none

feat: bdiv and bmod lemmas (#6494)
  src/Init/Data/Int/DivModLemmas.lean
Owners: @kim-em

feat: add user-defined fallback procedure for the `grind` tactic (#6512)
  src/Init/Grind/Tactics.lean
  src/Lean/Elab/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Main.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_canon_insts.lean
  tests/lean/run/grind_canon_types.lean
  tests/lean/run/grind_congr.lean
  tests/lean/run/grind_ematch2.lean
  tests/lean/run/grind_many_eqs.lean
  tests/lean/run/grind_nested_proofs.lean
  tests/lean/run/grind_norm_levels.lean
  tests/lean/run/grind_propagate_connectives.lean
Owners: @kim-em, @leodemoura
