Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

feat: case splitting `match`-expressions with overlapping patterns in `grind` (#6735)
  src/Lean/Meta/Tactic/Grind/CasesMatch.lean
  src/Lean/Meta/Tactic/Grind/Core.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
  tests/lean/run/grind_match_eq_propagation.lean
Owners: @leodemoura

feat: improve `grind` canonicalizer
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: improve `grind` canonicalizer (#6736)
  src/Lean/Meta/Tactic/Grind/Canon.lean
  src/Lean/Meta/Tactic/Grind/Types.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: lazy `ite` branch internalization in `grind`
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  tests/lean/run/grind_lazy_ite.lean
Owners: @leodemoura

feat: lazy `ite` branch internalization in `grind` (#6737)
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/Propagate.lean
  tests/lean/run/grind_lazy_ite.lean
Owners: @leodemoura

chore: last formatting changes
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Structures.lean
Owners: @hargoniX

doc: new bv_decide capability
  src/Std/Tactic/BVDecide/Syntax.lean
Owners: @hargoniX

chore: inline redundant omega
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

doc: mention ⱼ in the lexical structure
  doc/lexical_structure.md
Owners: none

feat: bv_decide support for structures of supported types (#6724)
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/AndFlatten.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Basic.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/EmbeddedConstraint.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Rewrite.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Structures.lean
  src/Std/Tactic/BVDecide/Syntax.lean
  tests/lean/run/bv_structures.lean
Owners: @hargoniX

doc: mention subscript j in the lexical structure (#6738)
  doc/lexical_structure.md
Owners: none

perf: fast path for multiplication bitblaster
  src/Std/Sat/AIG/Basic.lean
  src/Std/Sat/AIG/Lemmas.lean
  src/Std/Tactic/BVDecide/Bitblast/BVExpr/Circuit/Impl/Operations/Mul.lean
  src/Std/Tactic/BVDecide/Bitblast/BVExpr/Circuit/Lemmas/Operations/Mul.lean
Owners: @hargoniX

perf: fast path for multiplication with constants in bv_decide (#6739)
  src/Std/Sat/AIG/Basic.lean
  src/Std/Sat/AIG/Lemmas.lean
  src/Std/Tactic/BVDecide/Bitblast/BVExpr/Circuit/Impl/Operations/Mul.lean
  src/Std/Tactic/BVDecide/Bitblast/BVExpr/Circuit/Lemmas/Operations/Mul.lean
Owners: @hargoniX

chore: undo reordering
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: undo reordering
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: reordering
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: reduce formatting diff
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: remove rewrite in replicate_one
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: format
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: only add
  src/Init/Data/BitVec/Basic.lean
Owners: @kim-em

chore: uadd, sadd
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: add theorems
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: remove not-overflow
  src/Init/Data/BitVec/Basic.lean
Owners: @kim-em

chore: formatting
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: formatting
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

choire: move to normalize
  src/Init/Data/BitVec/Lemmas.lean
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
Owners: @kim-em, @hargoniX

chore: formatting
  src/Init/Data/BitVec/Basic.lean
Owners: @kim-em

chore: formatting
  src/Init/Data/BitVec/Basic.lean
Owners: @kim-em

chore: formatting
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: move overflow theorems back
  src/Init/Data/BitVec/Lemmas.lean
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
Owners: @kim-em, @hargoniX

chore: move all theorems
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: add attribute to normalize
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
Owners: @hargoniX

chore: move int theorem
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Int/DivModLemmas.lean
Owners: @kim-em

Simple test cases
  tests/lean/run/partial_fixpoint_errort.lean
Owners: none

chore: update housing of theorems
  src/Init/Data/BitVec/Bitblast.lean
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Int/DivModLemmas.lean
Owners: @kim-em

chore: formatting
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
Owners: @hargoniX

chore: everyone found their spot but everything is broken
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Int/DivModLemmas.lean
Owners: @kim-em

Switch from transform to simp
  src/Init/ByCases.lean
  src/Lean/Elab/PreDefinition/WF/Ite.lean
Owners: none

chore: more fixing in places
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Int/DivModLemmas.lean
  src/Std/Tactic/BVDecide/Normalize/BitVec.lean
Owners: @kim-em, @hargoniX

chore: le_toInt works
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX
