Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

chore: fix simp only
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: format
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: remove mul_one
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

feat: lemmas for HashMap.alter and .modify (#6620)
  src/Std/Data/DHashMap/Internal/List/Associative.lean
  src/Std/Data/DHashMap/Internal/Model.lean
  src/Std/Data/DHashMap/Internal/Raw.lean
  src/Std/Data/DHashMap/Internal/RawLemmas.lean
  src/Std/Data/DHashMap/Internal/WF.lean
  src/Std/Data/DHashMap/Lemmas.lean
  src/Std/Data/DHashMap/Raw.lean
  src/Std/Data/DHashMap/RawLemmas.lean
  src/Std/Data/HashMap/Lemmas.lean
  src/Std/Data/HashMap/Raw.lean
  src/Std/Data/HashMap/RawLemmas.lean
Owners: @TwoFX

chore: remove useless var spec
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

feat: set priority in monadic class instances
  doc/examples/widgets.lean
  src/Init/Control/Except.lean
  src/Init/Control/ExceptCps.lean
  src/Init/Control/Option.lean
  src/Init/Control/State.lean
  src/Init/Prelude.lean
  src/Lean/Elab/Match.lean
  src/Lean/Elab/PreDefinition/Eqns.lean
  src/lake/Lake/Util/Cycle.lean
  src/lake/Lake/Util/EStateT.lean
  tests/lean/run/catchThe.lean
Owners: @tydeu

finish
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/AndFlatten.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Basic.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/EmbeddedConstraint.lean
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Rewrite.lean
Owners: @hargoniX

fix wrong fvars
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/EmbeddedConstraint.lean
Owners: @hargoniX

make description of `pp.analyze` more precise
  src/Lean/PrettyPrinter/Delaborator/TopDownAnalyze.lean
Owners: @kmill

chore: format of proof
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: replace omega with proper theorem
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

refactor: TerminationArgument → TerminationMeasure
  doc/declarations.md
  src/Lean/Elab/PreDefinition/Main.lean
  src/Lean/Elab/PreDefinition/Structural/FindRecArg.lean
  src/Lean/Elab/PreDefinition/Structural/Main.lean
  src/Lean/Elab/PreDefinition/TerminationHint.lean
  src/Lean/Elab/PreDefinition/TerminationMeasure.lean
  src/Lean/Elab/PreDefinition/WF/GuessLex.lean
  src/Lean/Elab/PreDefinition/WF/Main.lean
  src/Lean/Elab/PreDefinition/WF/Rel.lean
  src/Lean/Meta/Match/MatcherApp/Transform.lean
  src/Lean/Parser/Term.lean
  stage0/stdlib/Lean/Elab/PreDefinition/TerminationArgument.c
  tests/lean/decreasing_by.lean.expected.out
  tests/lean/guessLex.lean
  tests/lean/guessLex.lean.expected.out
  tests/lean/guessLexDiff.lean.expected.out
  tests/lean/guessLexFailures.lean.expected.out
  tests/lean/guessLexTricky.lean.expected.out
  tests/lean/guessLexTricky2.lean.expected.out
  tests/lean/issue2260.lean.expected.out
  tests/lean/mutwftypemismatch.lean.expected.out
  tests/lean/run/structuralMutual.lean
  tests/lean/run/terminationByStructurally.lean
  tests/lean/terminationFailure.lean.expected.out
  tests/lean/wf1.lean.expected.out
Owners: none

doc: make description of `pp.analyze` more precise (#6726)
  src/Lean/PrettyPrinter/Delaborator/TopDownAnalyze.lean
Owners: @kmill

chore: use getD
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Structures.lean
Owners: @hargoniX

Update more test files
  tests/lean/run/terminationByStructurally.lean
Owners: none

Update even more test files
  tests/lean/run/issue4671.lean
Owners: none

chore: fix msb_replicate format
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: fix ypothesis
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: restore unneeded change
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: remove useless theorem
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: nonretm simp
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: cases instead of by_cases
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: simpler getElem proof
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

style: formatting
  src/Lean/Elab/Tactic/BVDecide/Frontend/Normalize/Structures.lean
Owners: @hargoniX

chore: remove useless `Nat.mul_one` from proof (#6728)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

feat: make coeFun delaborator respect `pp.tagAppFns`
  src/Lean/PrettyPrinter/Delaborator/Builtins.lean
Owners: @kmill

feat: make all app unexpanders respond to `pp.tagAppFns`
  src/Lean/PrettyPrinter/Delaborator/Builtins.lean
Owners: @kmill

feat: add `MatchCond` gadget
  src/Init/Grind/Util.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
  src/Lean/Meta/Tactic/Grind/SimpUtil.lean
Owners: @leodemoura

chore: checkpoint
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
Owners: @leodemoura

feat: internalize `MatchCond` gadget
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
Owners: @leodemoura

feat: add `isSatisfied` for `Grind.MatchCond` gadget
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
Owners: @leodemoura

test: add test for `MatchCond` propagation
  tests/lean/run/grind_match_eq_propagation.lean
Owners: none

feat: proof construction for propagating `MatchCond` gadget used in `grind`
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
Owners: @leodemoura

fix: redundant information in the offset constrainst module
  src/Lean/Meta/Tactic/Grind/Arith/Model.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: overlapping match patterns in `grind` (#6733)
  src/Init/Grind/Util.lean
  src/Lean/Meta/Tactic/Grind.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
  src/Lean/Meta/Tactic/Grind/SimpUtil.lean
  tests/lean/run/grind_match_eq_propagation.lean
Owners: @leodemoura

fix: redundant information in the offset constraint module (#6734)
  src/Lean/Meta/Tactic/Grind/Arith/Model.lean
  src/Lean/Meta/Tactic/Grind/PP.lean
  tests/lean/run/grind_t1.lean
Owners: @leodemoura

feat: annotate match splitters with the `MatchCond` gadget
  src/Lean/Meta/Tactic/Grind/CasesMatch.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
Owners: @leodemoura

chore: fix typos
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
Owners: @leodemoura

chore: ignore `True` when adding new facts
  src/Lean/Meta/Tactic/Grind/Core.lean
Owners: @leodemoura

feat: detect whether `match`-expression conditions are congruent
  src/Lean/Meta/Tactic/Grind/CasesMatch.lean
  src/Lean/Meta/Tactic/Grind/Internalize.lean
  src/Lean/Meta/Tactic/Grind/MatchCond.lean
  tests/lean/run/grind_match_eq_propagation.lean
Owners: @leodemoura

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX
