Repository leanprover/lean4, changes with the owners that CODEOWNERS names for each.
All owners: @kim-em, @leodemoura, @tydeu, @mhuisi, @Kha, @kmill, @Vtec234, @digama0, @david-christiansen, @TwoFX, @hargoniX

copy
  src/Std/Data/Basic.lean
  src/Std/Data/Classes/Cut.lean
  src/Std/Data/Classes/LawfulEqOrd.lean
  src/Std/Data/Classes/TransOrd.lean
  src/Std/Data/DTreeMap/Basic.lean
  src/Std/Data/DTreeMap/Internal/Cell.lean
  src/Std/Data/DTreeMap/Internal/Impl.lean
  src/Std/Data/DTreeMap/Internal/Impl/Attr.lean
  src/Std/Data/DTreeMap/Internal/Impl/Balancing.lean
  src/Std/Data/DTreeMap/Internal/Impl/Def.lean
  src/Std/Data/DTreeMap/Internal/Impl/Operations.lean
  src/Std/Data/DTreeMap/Internal/Impl/Query.lean
  src/Std/Data/DTreeMap/Internal/Impl/Transform.lean
  src/Std/Data/DTreeMap/Internal/Lemmas.lean
  src/Std/Data/DTreeMap/Internal/List/Associative.lean
  src/Std/Data/DTreeMap/Internal/Model.lean
  src/Std/Data/DTreeMap/Internal/WF.lean
  src/Std/Data/DTreeMap/Lemmas.lean
  src/Std/Data/DTreeMap/Raw.lean
  src/Std/Data/DTreeMap/RawLemmas.lean
  src/Std/Data/Examples/InversionCount.lean
  src/Std/Data/TreeMap/Basic.lean
  src/Std/Data/TreeMap/Lemmas.lean
  src/Std/Data/TreeMap/Raw.lean
  src/Std/Data/TreeMap/RawLemmas.lean
  src/Std/Data/TreeSet/Basic.lean
  src/Std/Data/TreeSet/Lemmas.lean
  src/Std/Data/TreeSet/Raw.lean
  src/Std/Data/TreeSet/RawLemmas.lean
Owners: @TwoFX

chore: fix toInt_lt
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: replace rcases
  src/Init/Data/BitVec/Lemmas.lean
  src/Init/Data/Int/DivModLemmas.lean
Owners: @kim-em

feat: add twoPow multiplication lemmas
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

Do not use explicit binders in dite_eq_ite
  src/Init/ByCases.lean
Owners: none

wip
  src/Std/Data/Basic.lean
  src/Std/Data/DTreeMap/Basic.lean
  src/Std/Data/DTreeMap/Internal/Cell.lean
  src/Std/Data/DTreeMap/Internal/Impl.lean
  src/Std/Data/DTreeMap/Internal/Impl/Attr.lean
  src/Std/Data/DTreeMap/Internal/Impl/Balancing.lean
  src/Std/Data/DTreeMap/Internal/Impl/Def.lean
  src/Std/Data/DTreeMap/Internal/Impl/Operations.lean
  src/Std/Data/DTreeMap/Internal/Impl/Query.lean
  src/Std/Data/DTreeMap/Internal/Impl/Transform.lean
  src/Std/Data/DTreeMap/Internal/Lemmas.lean
  src/Std/Data/DTreeMap/Internal/List/Associative.lean
  src/Std/Data/DTreeMap/Internal/Model.lean
  src/Std/Data/DTreeMap/Internal/WF.lean
  src/Std/Data/DTreeMap/Lemmas.lean
  src/Std/Data/DTreeMap/Raw.lean
  src/Std/Data/DTreeMap/RawLemmas.lean
  src/Std/Data/Examples/InversionCount.lean
  src/Std/Data/TreeMap/Basic.lean
  src/Std/Data/TreeMap/Lemmas.lean
  src/Std/Data/TreeMap/Raw.lean
  src/Std/Data/TreeMap/RawLemmas.lean
  src/Std/Data/TreeSet/Basic.lean
  src/Std/Data/TreeSet/Lemmas.lean
  src/Std/Data/TreeSet/Raw.lean
  src/Std/Data/TreeSet/RawLemmas.lean
Owners: @TwoFX

Try macro to get daggered h
  src/Init/ByCases.lean
Owners: none

More tracing
  src/Lean/Elab/PreDefinition/WF/Ite.lean
Owners: none

feat: simp to remove unused let_fun only when zeta := true
  src/Lean/Meta/Tactic/Simp/Main.lean
Owners: @leodemoura

Update test
  tests/lean/guessLexDiff.lean.expected.out
Owners: none

defeq checking: heed cfg.zeta in consumeLetIfZeta
  src/Lean/Meta/ExprDefEq.lean
Owners: none

chore: disable Elab.async on the cmdline for now
  src/Lean/CoreM.lean
  src/Lean/Language/Lean.lean
  src/Lean/Server/FileWorker.lean
  tests/bench/speedcenter.exec.velcom.yaml
Owners: @Kha, @mhuisi

feat: ushiftRight in terms of extractLsb'
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

chore: disable Elab.async on the cmdline for now (#6722)
  src/Lean/CoreM.lean
  src/Lean/Language/Lean.lean
  src/Lean/Server/FileWorker.lean
  tests/bench/speedcenter.exec.velcom.yaml
Owners: @Kha, @mhuisi

feat: add `isEqnThm`
  src/Lean/Meta/Eqns.lean
Owners: none

feat: improve equation theorem support in `grind`
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  tests/lean/run/grind_match_eq_propagation.lean
Owners: @leodemoura

feat: improve equation theorem support in `grind` (#6746)
  src/Lean/Meta/Eqns.lean
  src/Lean/Meta/Tactic/Grind/EMatch.lean
  tests/lean/run/grind_match_eq_propagation.lean
Owners: @leodemoura

feat: add twoPow multiplication lemmas (#6742)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

feat: BitVec.ushiftRight in terms of extractLsb' (#6745)
  src/Init/Data/BitVec/Lemmas.lean
Owners: @kim-em

fix: `isDefEqBounded`
  src/Lean/Meta/Tactic/Grind/Canon.lean
Owners: @leodemoura

fix: incorrect issue messages
  src/Lean/Meta/Tactic/Grind/Internalize.lean
Owners: @leodemoura

fix: ground pattern preprocessor
  src/Lean/Meta/Tactic/Grind/Internalize.lean
Owners: @leodemoura

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @kim-em
/RELEASES.md @kim-em
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Data/Lsp/ @mhuisi
/src/Lean/Elab/Deriving/ @kim-em
/src/Lean/Elab/Tactic/ @kim-em
/src/Lean/Language/ @Kha
/src/Lean/Meta/Tactic/ @leodemoura
/src/Lean/PrettyPrinter/ @kmill
/src/Lean/Server/ @mhuisi
/src/Lean/Widget/ @Vtec234
/src/Init/Data/ @kim-em
/src/Init/Data/Array/Lemmas.lean @digama0
/src/Init/Data/List/Lemmas.lean @digama0
/src/Init/Data/List/BasicAux.lean @digama0
/src/Init/Data/Array/Subarray.lean @david-christiansen
/src/Lean/Elab/Tactic/RCases.lean @digama0
/src/Init/RCases.lean @digama0
/src/Lean/Elab/Tactic/Ext.lean @digama0
/src/Init/Ext.lean @digama0
/src/Lean/Elab/Tactic/Simpa.lean @digama0
/src/Lean/Elab/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/NormCast.lean @digama0
/src/Lean/Meta/Tactic/TryThis.lean @digama0
/src/Lean/Elab/Tactic/SimpTrace.lean @digama0
/src/Lean/Elab/Tactic/NoMatch.lean @digama0
/src/Lean/Elab/Tactic/ShowTerm.lean @digama0
/src/Lean/Elab/Tactic/Repeat.lean @digama0
/src/Lean/Meta/Tactic/Repeat.lean @digama0
/src/Lean/Meta/CoeAttr.lean @digama0
/src/Lean/Elab/GuardMsgs.lean @digama0
/src/Lean/Elab/Tactic/Guard.lean @digama0
/src/Init/Guard.lean @digama0
/src/Lean/Server/CodeActions/ @digama0
/src/Std/ @TwoFX
/src/Std/Tactic/BVDecide/ @hargoniX
/src/Lean/Elab/Tactic/BVDecide/ @hargoniX
/src/Std/Sat/ @hargoniX
